/* --------------------------------------------------------------------------------------
|	AUTHOR 		: Elavarasan R                                                          |
|	COMPANY		: AI Magix,                                                             |
|	LOCATION	: Chennai, Tamil Nadu, India.                                           |
|	DESCRIPTION	: This site is designed & developed by AI Magix.                        |
|                 Contents are Subject to copyright. If you want to create              |
|                 websites mailto:srikar@jumpstartninja.ai                              |
----------------------------------------------------------------------------------------- */

/* ------------------------------------ COMMON CSS STARTS --------------------------------*/
@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'PoppinsSemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'PoppinsBold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body{overflow-x:hidden;}
  body{background-color:#fff;}
  *{font-family: Helvetica, Arial, Verdana, Inter-Regular;color:#282c3f;font-size:16px;margin:0;padding:0;}
  select,input:focus-visible,input:focus,img:focus,a:focus{outline:none;}
  ul,li{list-style:none;margin:0;padding:0;}
  a{text-decoration:none;display:inline-block;}
  table{border-collapse:collapse; vertical-align:top; width:100%}
  a.request-demo,button.btn-loader{transform: translateY(0);transition:all .3s cubic-bezier(.5,2.5,.7,.7);}
  a,section.main-menu-container{-webkit-transition: all 300ms ease-in-out;-moz-transition: all 300ms ease-in-out;-o-transition: all 300ms ease-in-out;transition: all 300ms ease-in-out;}
  span{font-size:inherit;}

  a.primary-btn{transform: translateY(0);}
  a.primary-btn:hover{transform: translateY(-6px);}
  a.primary-btn{transition:all .3s cubic-bezier(.5,2.5,.7,.7);}
  a.primary-btn{box-shadow:0px 8px 10px rgba(0,0,0,.2);}
  a.primary-btn{text-transform:uppercase;}

  
  .banner p{font-family:'PoppinsRegular';}
  h1,h1 span{font-family:'PoppinsSemiBold';}
  h3,h3 span{font-family:'PoppinsMedium';}

  h1{font-size:42px;}
  ul.digital-copilot li span{font-size:28px;}
  .banner p{font-size:18px;}
  section.why-vchek ul p{font-size:14px;}
  ul.digital-copilot li p{font-size:12px;}

  .text-white,a.primary-btn,section.co-pilot *,ul.no-need-to li:first-child{color:#fff;}
  .text-orange,h1 span,section.co-pilot h3 span{color:#ff8000;}

 .bg-orange,a.primary-btn{background-color:#ff8000;}
 .bg-green{background-color:#00af10;}
 .bg-pink{background-color:#ff004f;}
 .bg-blue{background-color:#004fff;}
 .bg-purple{background-color:#c300e5;}
 section.why-vchek ul{background-color:#eee;}
 ul.no-need-to li:nth-child(odd){background-color:#ffdede;}
 ul.instead li:nth-child(odd){background-color:#c9d6ab;}
 ul.no-need-to li:first-child {background-color:#f42f2f !important;}
 ul.instead li:first-child {background-color:#70b700 !important;}
 
 section.banner-container:before{background-image:url(../images/banner-wave-pattern-left.png);}
 section.banner-container:after{background-image:url(../images/banner-wave-pattern-right.png);}
 section.co-pilot{background-image: url(../images/bg-co-pilot.png);}
 section.why-vchek{background-image: url(../images/why-vchek.png);}

 section.co-pilot{background-size:cover;}
 section.banner-container:before,section.banner-container:after{background-position: 100% 60%;}
 section.why-vchek{background-repeat:no-repeat;}

 section.co-pilot{background-attachment:fixed;}

 section.banner-container:before,section.banner-container:after{opacity:.5;}

 ul.digital-copilot li span{border-radius:100%;}
 a.primary-btn{border-radius:30px;}

 section.banner-container:before,section.banner-container:after{height:100%;}
  a.logo img{height:96px;}
  section.why-vchek ul li{height:65px;}
  ul.digital-copilot li span{height:64px;}

  section.why-vchek ul p{width:calc(100% - 34px);}
  ul.digital-copilot li{width:20%;}
  section.banner-container:before,section.banner-container:after{width:660px;}
  ul.digital-copilot li span{width:64px;}
  section.why-vchek ul span img{width:24px;}

  ul.digital-copilot li,ul.digital-copilot li span,section.why-vchek ul span,section.why-vchek ul p{display:inline-block;}

  section.why-vchek ul p{vertical-align:middle;}

 .banner{padding:50px 0 80px;}
 section.co-pilot{padding:50px 0;}
  section{padding:30px 0;}
  a.primary-btn{padding:10px 30px;}
  ul.digital-copilot li span,section.why-vchek ul li{padding:10px;}

  .book-for-demo{margin:15px 0;}
  section.why-vchek ul span{margin-right:10px;}
  ul.digital-copilot li span{margin-bottom:10px;}
  section.why-vchek ul p{margin-bottom:0;}

  section.banner-container,section.banner-container *{position:relative;}

  section.banner-container:before,section.banner-container:after{position: absolute;}

  section.banner-container:before,section.banner-container:after{bottom:0;}
  section.banner-container:after{right:-100px;}
  section.banner-container:before{left:-20px;}

  section.banner-container:before,section.banner-container:after{content:'';}

  section.banner-container:before,section.banner-container:after{z-index:0;}
  section.banner-container *{z-index:1;}

